<!--
<div class="main">
    <div class="container">
        <h1>Welcome to CSZone!</h1>
        <p>Home of Computer Science content.</p>
    </div>
</div>


<div class="centre"
    <h1> Welcome to CSZone!</h1>
    <p>Home of Computer Science content!</p>
</div>
-->

<h1> Contact</h1>
<p>Use the form to email me:</p>
<p>The current time is: <%= @time %></p>
<p>
    Click to go <%= link_to("home", root_path) %>.
</p>
