<!--
<div class="main">
    <div class="container">
        <h1>Welcome to CSZone!</h1>
        <p>Home of Computer Science content.</p>
    </div>
</div>

-->
<div class="centre"
    <h1> Welcome to CSZone!</h1>
    <p>Home of Computer Science content!</p>
</div>