// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    
    font-family: 'Source Sans Pro', sans-serif;
    
}

.centre {
  text-align: center;
}

.centre h1 {
    size: 50px;
}

.centre p {
    size: 30px;
}
