// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    
    font-family: 'Source Sans Pro', sans-serif;
    
}

h1 {
    size: 100px;
}

h1, p {
    text-align: center;
}

.centre {
  text-align: center;
}

.centre h1 {
    
}

.centre p {
    size: 30px;
}

form label, form input {
    display: block;
    margin: 10px;
}
